.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  margin-bottom: 20px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-title);
  display: flex;
  gap: 2px;
}

.input,
.textarea {
  padding: 12px;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-s);
  font-family: var(--font-main);
  font-size: 16px;
  outline: none;
  min-height: 160px;
  max-height: 300px;
  resize: none;
  line-height: 1.5;
  transition: border-color 0.2s;
}

.input:focus,
.textarea:focus {
  border-color: var(--color-primary);
}

.textarea {
  min-height: 120px;
  resize: vertical;
}

.errorBorder {
  border-color: var(--color-error) !important;
  background-color: #fff9f9;
}

.asterisk {
  color: var(--color-error);
  font-size: 14px;
}
